/*
 - HomeGrub styles specifier,
 - Salih Salih, 000795395,
 - 12/6/2020 
 - This is file specifes the look and feel of the pages.
*/


* {
	font-family: cursive;
}

body {
	align-self: center;
    text-align: center ;
    margin: center;
    background-color: lightblue;
    overflow: auto;
}

.main {
    align-self: center;
    background-color: #4d33dd;
	border-radius: 25px;
	border-style: groove ; 
    color:white;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.headline {
    font-size: 5em;
	font-family: cursive;
    color: #1c0f69;
    font-style: normal;
	text-align: center;
}

h1 {
	font-size: 50px;
  	color: #1c0f69;
	font-family: cursive;
    font-style: normal;
	text-align: center;
}

h2 {
	color: #1c0f69;
	font-family: cursive;
    font-style: normal;
	text-align: center;
}

h3 {
	color: white;
	font-family: cursive;
    font-style: normal;
	text-align: center;
}

p {
	color: #1c0f69;
	font-family: cursive;
    font-style: normal;
	text-align: center;
}

section {	
    align-self: center;
	background-color: #4d33dd;
	border: 3px solid #2e17b1;
  	border-radius: 20px;
    color:white;
	font-family: Arial, Helvetica, sans-serif;
	max-width: 768px;
  	padding: 5px;
  	box-sizing: border-box;
  	margin: auto;
}

input {
	border-radius: 5px;
	border: 2px solid #dadadd;
	text-align: center;
	margin: 5px;
}

button {
	color: white;
	border: 5px solid #221183;
	border-radius: 10px;
	background-color: #221183;
	cursor: pointer;
  }
  
button:hover {
	background-color: #8573ee;
	border: 5px solid #8573ee;
}

a:link {
	border-radius: 10px;
	background-color: #221183;
	padding: 5px 10px;
	text-align: center; 
	color: white;
	display: inline-block;
	text-decoration: none;
}

a:visited {
	border-radius: 10px;
	background-color: #221183;
	padding: 5px 10px;
	text-align: center; 
	color: white;
	display: inline-block;
	text-decoration: none;
	
}

a:active {
	background-color:#8573ee;
	color:#bab5d6;
}

a:hover {
	color:white;
	background-color: #8573ee;
	border: #8573ee;
}

.shop {
	display: flex;
	flex-wrap: wrap;
}

.items {	
    align-self: center;
	background-color: #4d33dd;
	border: 3px solid #2e17b1;
  	border-radius: 20px;
    color:white;
	font-family: Arial, Helvetica, sans-serif;
	max-width: 768px;
  	padding: 20px;
  	box-sizing: border-box;
  	margin: 5px auto 5px auto;
}

img {
	border-radius: 10%;
	border: 3px solid #422cbe;
  }

.message {
	display: inline-block;
  	align-self: flex-end;
}

.error {
	align-self: center;
    text-align: center ;
    margin: center;
    background-color: lightblue;
    overflow: auto;
}


